<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <break></break>
      <div style="margin-top:50px;"></div>
      <h4>Archivos</h4>
      <div style="margin-top:50px;"></div>

      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Direccion...">

      <table id="myTable">
        <tr class="header">
          <th style="width:7%;">ID</th>
          <th>Direccion</th>
          <th style="width:15%;"></th>
        </tr>

        <% @archived_properties.each do |property| %>
          <tr>
            <td><%= property.id %></td>
            <td><%= property.address %></td>
            <td style='white-space: nowrap'>
              <%= link_to 'Show', property, :class => "btn btn-secondary btn-sm active" %>
              <%= link_to('Undo', activate_property_path(id: property.id), method: :post, :class => "btn btn-primary btn-sm active") %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>