/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$theme-colors: ("bootstrap": #563d7c, "simpleform": #00617f);
@import "bootstrap";

// App sections
@import "application/breadcrumb";
@import "application/example";
@import "application/footer";
@import "application/header";
@import "application/jumbotron";

// Components
@import "components/alert";
@import "components/icon";

// Syntax highlight
//@import "dracula/pygments/dracula";

// simple_form helpers
@import "simple_form-bootstrap/simple_form-bootstrap";
@import "bootstrap-table/bootstrap-table";

@import "font-awesome";

.space{
  margin-top: 40px;
  margin-bottom: 10px;
}

.bold{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9)
}

.ligther{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.space2{
  margin-top: 30px;
}

.margin1{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.test {
  margin-top: 16px;
  margin-bottom: 10px;
  width: 50%;
  font-size: 15px; /* Increase font-size */
}

.navbar-custom {
  background-color: #ff5500;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, .8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
  background-color: #ff5500;
}

.navbar-custom .dropdown-item {
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #333333;
  background-color: rgba(255, 255, 255, .5);
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 15px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  position: relative;
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
  font-family: Avenir,Helvetica Neue,helvetica,arial,sans-serif;
  color: #5c676e;
}

#myTable td1{
  /* Add a bottom border to all table rows */
  border-bottom: 10px solid #ddd;
  font-family: Avenir,Helvetica Neue,helvetica,arial,sans-serif;
  color: #5c676e;
}

#myTable td1{
  /* Add a bottom border to all table rows */
  text-align: left; /* Left-align text */
  padding-bottom: 12px; /* Add padding */
  position: relative;
}
#hey {
  font-size: 12px;
  color: #5c676e;
}

#hey2 {
  font-size: 12px;
  color: #ddd;
}
#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

//Esto cambia la letra de la tabla principal
.body2{
  color:#6a6f8c;
}

body{
  margin:0;
  color: #0e0911;
  background: #fff;
  //font:100 16px/1px ,sans-serif;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:670px;
  position:relative;
  background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:90px 70px 50px 70px;
  background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#1161ee;
}
.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  color:#fff;
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.login-form .group .button{
  background:#1161ee;
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#fff;
}
.login-form .group .check:checked + label .icon{
  background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}

.hr{
  height:2px;
  margin:60px 0 50px 0;
  background: rgba(14, 9, 17, 0.2);
}

.hr2{
  height:2px;
  margin:60px 0 50px 0;
  background: rgba(14, 9, 17, 0.2);
}

.foot-lnk{
  text-align:center;
}

#parent_div_1, #parent_div_2, #parent_div_3 {
  width: 100%;
  margin-right: 1000px;
  margin-bottom: 20px;
  display:inline-block;
}
.child_div_1 {
  width: 495px;
  float: left;
  display:inline-block;
}

box2 {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.right {
  float: right;
  padding-bottom:10px;
}

.prop_number {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.after-box {
  clear: left;
}

.debts {
  width: 50%;
  margin-bottom: 60px;
  margin-top: 50px;
  display:inline-block;
}

.space_photos {
  width: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
  display:inline-block;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
}

.space{
  margin-top: 40px;
  margin-bottom: 10px;
}

.card_space{
  margin-bottom: 10px;
}

.pictures {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  display:inline-block;
}

@media screen and (max-width:400px) {
  @-ms-viewport{
    width:320px;
  }
}

.bottomdiv {
  border: 1px solid red;
  height: 50px;
  width: 50px;
  position:absolute;
  left:0;
  bottom:0;
}
.col-md-6.col-sm-6.col-xs-6 {
  display: table-cell;
  height: auto;
  border: 1px solid black;
  float: none;
}

.bottom-column
{
  padding-top:13px;
  position: absolute;
  top: 0;
}